<div class="useless-component">
  <div tpl-bind="simpleString"></div>
  <div tpl-bind="dependsOnSimpleString">This is {{dependsOnSimpleString}}</div>
  <div tpl-bindCollection="ticketList">
    <!-- I am ALSO a root element -->
    <div class="random">Random</div>
    <div tpl-bind="name" tpl-bindAttr="shouldBeIncluded#data-should-be-included"></div>
    <!-- Result <div data-should-be-included="true|false">Someone's name</div> -->
  </div>
</div>

<!-- I will be ignored, the templating engine only supports a single root element -->
<!-- <hello></hello> -->
